<h1>Contact Us</h1>
<%= simple_form_for @user do |f| %>
  <div>
    <%= f.input :subject, input_html: { value: "" } %>
    <%= f.text_area :message, input_html: { value: "" } %>
  </div>
    <%= f.submit class: 'btn btn-secondary'%>
<% end %>
