<h1>Welcome to <span><em>BudgetBuddy</em></span></h1>

<div class='buttons'>
  <div class='button' style="">
    <%= button_to "+", new_credit_path, class:'btn btn-outline-success', method: :get %>
  </div>
  <div class='button'>
    <%= button_to "-", new_debit_path, class:"btn btn-danger", method: :get %>
  </div>
</div>

<div>
  <p class="navbar-text">Hello <%= current_user.first_name.capitalize %></p>
</div>
<div>
  <canvas id="barchart" width='400px' height='200px'></canvas>
</div>

<script>
  $(document).ready(function(){
    $.get("<%= balances_path %>")
  })
</script>
