// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.buttons{
  display: inline-block;
  margin-right: 50px;
  float: right;
}

.button{
  width: 40px;
}

#contents {
  padding-left: 0 !important;
}
