<div><% @transactions %></div>

<!-- <i class="fa fa-arrow-circle-left-2x" aria-hidden="true"></i> -->
<span class='button-left'><%= fa_icon "arrow-circle-left 2x" %></span>
  <span class='date-header'><%= @date_beginning %> - <%= @date_end %></span>
<span class='button-right'><%= fa_icon "arrow-circle-right 2x" %></span>

<div>
  <h5>Income</h5>
  $<span id="income"></span>
</div>
<hr>

<div>
  <h5>Expenses</h5>
  $<span id='expenses'></span>
</div>

<hr>
</hr>

<div>
  <h5>Budget left</h5>
  $<span id='budget-left'></span>
</div>
<div>

</div>
