<h1>All Spendings</h1>
<span>
  <button type="button">Past</button>
  <button type="button">Ongoing</button>
  <button type="button">Future</button>
</span>

<% @transaction.each do |s| %>
  <div>
    <h2><%= s.description.capitalize %>, $<%= s.amount_cents.to_f/100 %><h2>
      <button type="spending">Complete this Spending</button>
      <button type="delete"><%= link_to 'X', transaction_path(s),
                                                  method: :delete,
                                                  data: {confirm: "Are you sure" } %>
      </button>
  </div>
  <hr>
<% end %>

<button type="new"><%= link_to 'Create a spending', new_debit_path %></button>
